<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.atilagapps.hellixdatamanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_final_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Students.DeleteStudentActivity"
            android:parentActivityName=".Fragments.StudentActivity" />
        <activity
            android:name=".Batches.AllStuInBatchActivity"
            android:parentActivityName=".Batches.BatchesActivity" />
        <activity
            android:name=".EditTuitionInfo"
            android:parentActivityName=".TuitionProfile" />
        <activity
            android:name=".TuitionProfile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Charts.ChartActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Charts.AddIncomeExenseActivity"
            android:parentActivityName=".Charts.ExtraIncomeExpense" />
        <activity
            android:name=".Charts.IncomeExpenseDetailsActivity"
            android:parentActivityName=".Charts.ExtraIncomeExpense" />
        <activity
            android:name=".Charts.ExtraIncomeExpense"
            android:parentActivityName=".Charts.ChartActivity" />
        <activity
            android:name=".Charts.IncomeExpenseActivity"
            android:parentActivityName=".Charts.ChartActivity" />
        <activity
            android:name=".StaffManager.AddStaffActivity2"
            android:parentActivityName=".Batches.NewBatchAddActivity" />
        <activity
            android:name=".StaffManager.StaffPaymentActivity"
            android:parentActivityName=".StaffManager.All_Staff" />
        <activity
            android:name=".StaffManager.StaffDetailsActivity"
            android:parentActivityName=".StaffManager.All_Staff" />
        <activity
            android:name=".StaffManager.AddStaffActivity"
            android:parentActivityName=".StaffManager.All_Staff" />
        <activity
            android:name=".StaffManager.All_Staff"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SendSMS.SendSMSActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".GetTuitionInfo" />
        <activity
            android:name=".TuitionFess.GetAllStudentActvity"
            android:parentActivityName=".TuitionFess.TuitionFeesActivity" />
        <activity
            android:name=".Reciept.CreatePDF"
            android:parentActivityName=".TuitionFess.GetAllStudentActvity" />
        <activity
            android:name=".Batches.RemoveStudentActivity"
            android:parentActivityName=".Batches.BatchesActivity" />
        <activity
            android:name=".Batches.AddExistingStudentToBatch"
            android:parentActivityName=".Batches.BatchesActivity" />
        <activity
            android:name=".Batches.UpdateBatchActivity"
            android:parentActivityName=".Batches.BatchesActivity" />
        <activity
            android:name=".Fragments.StudentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TuitionFess.Students_In_Batch"
            android:parentActivityName=".TuitionFess.AddFeesActivity" />
        <activity
            android:name=".TuitionFess.AddFeesActivity"
            android:parentActivityName=".TuitionFess.TuitionFeesActivity" />
        <activity
            android:name=".TuitionFess.TuitionFeesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Students.DetailsActivity"
            android:parentActivityName=".Students.FindStudentActivity" />
        <activity
            android:name=".Batches.NewBatchAddActivity"
            android:parentActivityName=".Batches.BatchesActivity" />
        <activity
            android:name=".Batches.BatchesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Students.FindStudentActivity"
            android:parentActivityName=".Fragments.StudentActivity" />
        <activity
            android:name=".Students.StudentAddActivity"
            android:parentActivityName=".Fragments.StudentActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".OnStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.atilagapps.hellixdatamanager.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>